h1 {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 23%, #FFCC70 50%, #C850C0 73%, #4158D0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, .5);
  background-size: 200%;
  animation: rotate-bg 6s linear infinite;
}
@media (max-width: 678px) {
  h1 {
    font-size: 1.6rem;
  }
}

@keyframes rotate-bg {
  from {
      background-position: 0% center;
  }
  
  to {
      background-position: -200% center;
  }
}

.app {

  position: relative;

  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  margin-top: 2.5rem;

  border-radius: .5rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, .5);
  padding: .5rem 1rem;

  border: 3px solid rgba(255, 255, 255, .8);
  backdrop-filter: blur(2px);

  box-shadow: 0px 0px 80px -20px rgba(0, 0, 0, 0.75);

}

@media (max-width: 678px) {
  .app {
    align-items: start;
  }
}

/* CSS para la paginación de la tabla */
.rdt_Pagination {
  border-radius: .0 0 .5rem .5rem;
}

.menu {
  position: absolute;
  right: 20px;
  top: 15px;

  display: flex;
  gap: 1rem;
}

.boton {
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .8);
  border-radius: .5rem;

  transition: .4s all;
}

.boton:hover,
.seleccionado {
  background-color: #4158D0;
  color: white;
  transform: scale(1.1);
}

/* CSS para Stats.jsx */
.stats-1 {
  display: flex;
  gap: 15rem;
  flex-wrap: wrap;
}

p {
  color: black;
  background-color: rgba(255, 255, 255, .3);
  padding: .5rem 1rem;
  border-radius: .5rem .5rem 0 0;
  border: 1px solid rgba(255, 255, 255, .6);
  border-bottom: none;
  margin: 0;
}

@media (max-width: 1140px) {
  .stats-1 {
    gap: .5rem;
    justify-content: center;
  }
  p {
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: .5rem;
    margin-bottom: 1rem;
  }
}

.dato {
  color: rgba(0, 0, 0, .8);
  font-weight: bold;
  font-size: 22px;
}

.cargando {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

canvas {
  max-width: 30vw;
  max-height: 50vh;

  background-color: rgba(255, 255, 255, .3);
  padding-bottom: 1rem;
  border-radius: .5rem;
  border: 1px solid rgba(255, 255, 255, .6);
}

.graficas {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

@media (max-width: 678px) {
  canvas {
    max-width: none;
    max-height: none;
  }
  .graficas {
    gap: 1rem;
  }
}